*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap');

body{
    background-image: url(./img/modelou-o-fundo-com-um-efeito-grunge.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 20px auto auto auto;
    width: 100%;
    
}
header{
    display: flex;
    background-color: rgb(255, 255, 255);
    width: 100vw;
    height: 10vh;
    align-items: center; 
    justify-content: center;
}
h1{
    color: rgb(255, 0, 0);
    font-size: 30px;
    font-family: 'Sixtyfour';
}
main{
    text-align: center;
    vertical-align: 100vh;
    color: crimson;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}   
.linha1{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    
}
.linha1 img{/*aqui define a borda e espaçamento entre as imagens das linhas (que é o pai)*/
    border: solid 5px white; /* tipo de borda; largura; cor*/
    border-radius: 10px;
    margin: auto 10px auto 10px;
}
.linha2{
    margin-bottom: 10px;
    display: flex;
}
.linha2 img{
    border: solid 5px white;
    border-radius: 10px;
    margin: auto 10px auto 10px;

}
.linha3{
    display: flex;
}
.linha3 img{
    border: solid 5px white;
    border-radius: 10px;
    margin: auto 10px auto 10px; /*top left bottom right*/
}
#Omega{
    max-height: 180px;
}
.imagens{
    height: 200px;
    height: 100vh;
    margin-top: 100px;
    
}
.imagens img{
    transition: transform 0.3s;
    filter: grayscale(100%);
    object-fit: cover; /*Define a largura e altura da imagem dentro do container. Neste caso "cover" a imagem ocupa todo o container*/
    object-position: center top; /*centraliza na horizontal e vertical dentro do container, evitando que agum conteúdo da imagem seja cortado*/

}

.imagens img:hover{
    transform: scale(1.1);
    border: solid 5px red;
    transition: 2s;
    filter:grayscale(0);
    
}    
p{
    color: black;
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: small;
    background-color: white;
    margin: auto 100px auto 100px;
    border: outset 2px black;
}
@media (max-width: 480px){
    header{
        padding: 0 10px;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 10vh;
    }
    header h1{
        color: rgb(255, 0, 0);
        width: 100vw;
        font-size:14px;
       
    }
   .linha1, .linha2, .linha3{
        flex-direction: column;
        justify-content: center;
    }
    .imagens{
        height: auto;
        margin: 40px 2px 40px 1px;
    }
    .imagens img{
        width: 250px;
        height: 150px;
        margin: 10px auto 10px auto;
    }
   
}